body{
    background: #1e212a;
}

* {
    margin: 0;
    padding: 0;
}

.preloader {
    z-index:100;
    --bg-color: #1e212a;
    --size: 200px;
    --first-color: #ec164f;
    --second-color: #ffc952;
    --third-color: #47b8e0;
    --thickness: 3px;
    --duration: 1s;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--duration);
}

.preloader_content {
    position: relative;
    width: var(--size);
    height: var(--size);
}

.preloader_first,
.preloader_second,
.preloader_third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: var(--duration) linear infinite;
}

.preloader_first {
    border-bottom: var(--thickness) solid var(--first-color);
    animation-name: first;
}

.preloader_second {
    border-right: var(--thickness) solid var(--second-color);
    animation-name: second;
}

.preloader_third {
    border-top: var(--thickness) solid var(--third-color);
    animation-name: third;
}

@keyframes first {
    0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
    100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}

@keyframes second {
    0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
    100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}

@keyframes third {
    0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
    100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}

#menu{
    text-align: center;
    perspective: 500px;
}
ul{
    display: inline-block;
    list-style: none;
    margin-top:-20px;
}
ul li{
    float: left;
}
ul li a{
    text-decoration: none;
    background: #ffc952;
    color: white;
    height: 110px;
    width: 100px;
    display: block;
    border-right: 1.5px solid #cd964d;
    border-left: 1.5px solid #cd964d;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
    transform: rotateX(58deg);
    box-shadow: 0 40px 40px rgba(205,150,77,0.51);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transition: background 0.5s ease-in-out, background-size 0.7s ease-in-out, transform 0.5s ease-in-out, border 0.3s ease-in-out;
}
ul li a span{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100px;
    padding: 0 10px;
    font-family: Arial;
    font-weight:bold;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
    color: black;
}

/*noinspection ALL*/
ul li:nth-child(1) a{
    background: #ffc952 url("../images/icon/home.ico") no-repeat center center;
    background-size:35px;
}

/*noinspection ALL*/
ul li:nth-child(2) a{
    background: #ffc952 url("../images/icon/shopping.ico") no-repeat center center;
    background-size:35px;
}

/*noinspection ALL*/
ul li:nth-child(3) a{
    background: #ffc952 url("../images/icon/movie.ico") no-repeat center center;
    background-size:35px;
}

/*noinspection ALL*/
ul li:nth-child(4) a{
    background: #ffc952 url("../images/icon/friends.ico") no-repeat center center;
    background-size:35px;
    z-index: 11;
}

/*noinspection ALL*/
ul li:nth-child(5) a{
    background: #ffc952 url("../images/icon/link.ico") no-repeat center center;
    background-size:35px;
    z-index: 10;
}

/*noinspection ALL*/
ul li:nth-child(6) a{
    background: #ffc952 url("../images/icon/mail.ico") no-repeat center center;
    background-size:35px;
    z-index: 9;
}
ul li a::after{
    content:"";
    position: absolute;
    height: 15px;
    width: 100px;
    background: #ffc952;
    left: -1.5px;
    bottom: -15px;
    border-right: 1.5px solid #cd964d;
    border-left: 1.5px solid #cd964d;
    border-top: 2px solid #cd964d;
    box-sizing: border-box;
    transform-origin: 50% 0%;
    transform: rotateX(-90deg);
    transition: background 0.3s ease-in-out,border 0.3s ease-in-out;
}
ul li a i, ul li a b{
    position: absolute;
    background: #ffc952;
    top: 0;
    height: 110px;
    width: 15px;
    box-sizing: border-box;
    border-top: 1.5px solid #cd964d;
    transition: background 0.3s ease-in-out,border 0.3s ease-in-out;
}
ul li a i{
     left: -16.5px;
     transform-origin: 100% 50%;
    transform: rotateY(-89.9deg);
 }
ul li a b{
    right: -16.5px;
    transform-origin: 0% 50%;
    transform: rotateY(89.9deg);
}
ul li:first-child a i, ul li:last-child a b{
    display: none;

}
ul li:nth-child(1) a:hover{
    /*noinspection CssUnknownTarget*/
    background: #ec164f url("../images/icon/home.ico") no-repeat center 10px;
    background-size:35px;
}
ul li:nth-child(2) a:hover{
    /*noinspection CssUnknownTarget*/
    background: #ec164f url("../images/icon/shopping.ico") no-repeat center 10px;
    background-size:35px;
}
ul li:nth-child(3) a:hover{
    /*noinspection CssUnknownTarget*/
    background: #ec164f url("../images/icon/movie.ico") no-repeat center 10px;
    background-size:35px;
}
ul li:nth-child(4) a:hover{
    /*noinspection CssUnknownTarget*/
    background: #ec164f url("../images/icon/friends.ico") no-repeat center 10px;
    background-size:35px;
}
ul li:nth-child(5) a:hover{
    /*noinspection CssUnknownTarget*/
    background: #ec164f url("../images/icon/link.ico") no-repeat center 10px;
    background-size:35px;
}
ul li:nth-child(6) a:hover{
    /*noinspection CssUnknownTarget*/
    background: #ec164f url("../images/icon/mail.ico") no-repeat center 10px;
    background-size:35px;
}
ul li a:hover{
    transform:rotateX(35deg) translate(0, -10px);
    border-right: 1.5px solid #ec164f;
    border-left: 1.5px solid #ec164f;
}
ul li a:hover span{
    opacity: 1;
}
ul li:nth-child(1) a:hover::after, ul li:nth-child(2) a:hover::after, ul li:nth-child(3) a:hover::after, ul li:nth-child(4) a:hover::after, ul li:nth-child(5) a:hover::after, ul li:nth-child(6) a:hover::after{
    background: #ec164f;
    border-right: 1.5px solid #ec164f;
    border-left: 1.5px solid #ec164f;
    border-top: 2px solid #ec164f;
}
ul li a:hover i,ul li a:hover b {
    background: #ec164f;
    border-top: 2px solid #ec164f;
}

/*параметры LOGO*/
.logo{
    cursor: pointer;
    position: relative;
    height: 100px;
    margin: 50px;

}
.icon{
    margin-left: 430px;
    height: 100px;
}

.text-p{
    position: center;
    color: white;
    font-size: 65px;
    padding-left: 55px;
    
    padding-top: 20px;
    letter-spacing: 2px;
    transition: 0.7s;
}



.logo:hover .text-p{
    color: #ec164f;
    letter-spacing: 0;
}
